.nav-menus-php .item-edit:before {
    margin-top: 11px
}

.menu-item-settings {
    min-height: 315px
}

.redux-container-image_select .redux-image-select img {
    border-color: #fcfcfc;
    border-width: 2px;
}

.admin-color-fresh .redux-container-image_select .redux-image-select-selected img {
    border-color: #b7b7b7;
}

.tx_project_details_table,
.tx_brochure_details {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 30px 0;
    box-shadow: 0 0 8px 0 rgba(110, 123, 140, 0.15);
}

.tx_project_details_table th {
    text-align: left;
    font-weight: 500;
}

.tx_brochure_details.brochure-image,
.tx_brochure_details.brochure-file {
    width: 44%
}

.tx_pb_10 {
    padding-bottom: 20px;
    display: block;
}

.brochure_file {
    text-decoration: none;
    cursor: text;
}

.brochure_img,.brochure_img:hover,.brochure_img:focus,
.brochure_file,.brochure_file:hover,.brochure_file:focus {
    color:#555;
    box-shadow: none;
}

#footer-thankyou {
    display: none;
}

.tx-portfolio-settings div {
    display: inline-block;
    margin: 20px 15px 20px 0;
}

.tx-portfolio-settings select {
  width: 200px;
}

.tx-portfolio-settings div p {
    margin: 0 0 5px;
    font-weight: 600;
}

/* welcome screen */
.tx-wel-wrap {
    padding: 35px;
    position: relative;
    background: white;
    /*opacity: 0;*/ /*need to add active this when activated registgration*/
}

.tx-wel-wrap h1 {
    font-size: 50px;
    font-weight: 700;
    position: relative;
}

.tx-wel-txt p {
    font-size: 20px; 
    line-height: 1.75em;
}
.tx-wel-ver {
    font-size: 14px;
    top: -10px;
    position: absolute;
    padding: 3px 7px;
    border-radius: 3px;
    background: #8CC63F;
    color: white;
    margin-left: 10px;
    font-weight: 500;
}

.menu-top.menu-icon-generic.toplevel_page_Welcome .wp-menu-image:before {
    content: '';
    background-image: url(../images/icon.png);
    background-repeat: no-repeat;
    margin-top: 8px;
    opacity: .6;
}

.menu-top.menu-icon-generic.toplevel_page_Welcome:hover .wp-menu-image:before {
    opacity: 1;
}

/*remove learnpress advertisement*/
#learn-press-newsletter-button,
.learn-press-advertisement-slider {
    display:none;
}

.notice-warning {
    border-left-color: #007cba;
}
.toplevel_page_Welcome .notice, 
.toplevel_page_Welcome div.error,
.toplevel_page_Welcome div.updated,
.toplevel_page_Welcome .notice-success,
.toplevel_page_Welcome div.updated {
    display: none;
}
/*redux framework*/
.updated.redux-banner-container,
#redux-connect-message {
    display: none
}
.redux-notice-field {
    background-color: #23282D;
    color: white;
}

.redux-notice-field.redux-warning, .redux-notice-field.redux-success {
    border-color: #23282D;
}

.redux-container .notice-yellow {
    text-shadow: none;
    background-color: #007cba;
    color: white;
}

.redux-container .form-table td {
    padding: 30px 0 0;
}

/*redux message we need your help*/
.redux-message {
    display: none;
}

/*remove message Love using Elementor?*/
.notice.updated.elementor-message {
    display: none;
}

/*demo import progress bar*/
.wbc-progress-bar.button-primary {
    min-height: 16px !important;
    margin-top: -1px;
}

/*redux search options*/
.redux_field_search {
  position: absolute;
  left: 50px;
  right: 50px !important;
  top: 7px !important;
  width: 240px;
}

/*Updates*/
.el-license-container {
    margin: 0;
    padding: 35px 35px 10px;
    background: #fff;
    border-radius: 4px;
    position: fixed;
    top: 30px;
    width: 100%;
    z-index: 99999;
    display: none; /*need to remove this when activated registration*/
}
.el-license-container .el-license-field {
    display: block;
    margin-bottom: 15px
}
.el-license-container .notice-error,
.el-license-container div.error {
    background: rgba(220, 50, 50, 0.11);
    margin: 0
}

.el-license-container .el-license-title {
    margin-top: 0;
    font-size: 30px
}

.el-license-container .el-license-info li {
    list-style: none;
    padding: 0
}

.el-license-container .el-license-info-title {
    width: 150px;
    display: inline-block;
    position: relative;
    padding-right: 5px
}

.el-license-container .el-license-info-title:after {
    content: ":";
    position: absolute;
    right: 2px
}

.el-license-container .el-license-valid,
.el-license-container .el-license-invalid {
    padding: 0 5px 2px;
    color: #fff;
    background-color: #8fcc77;
    border-radius: 3px
}

.el-license-container .el-license-invalid {
    background-color: #f44336
}

.el-license-container .el-license-key {
    font-weight: 700;
    opacity: .8
}

.el-license-container .el-green-btn {
    padding: 0 5px 2px;
    color: #fff;
    background-color: #8fcc77;
    border-radius: 3px;
    text-decoration: none;
    -webkit-box-shadow: 0 0 3px -1px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0 0 3px -1px rgba(0, 0, 0, 0.38);
    box-shadow: 0 0 3px -1px rgba(0, 0, 0, 0.38)
}

.el-license-container .el-green-btn:hover {
    color: #fff;
    background-color: #84bc6c
}

.el-license-container .el-blue-btn {
    padding: 0 5px 2px;
    color: #fff;
    background-color: #20b1d2;
    border-radius: 3px;
    text-decoration: none;
    -webkit-box-shadow: 0 0 3px -1px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0 0 3px -1px rgba(0, 0, 0, 0.38);
    box-shadow: 0 0 3px -1px rgba(0, 0, 0, 0.38)
}

.el-license-container .el-blue-btn:hover {
    color: #fff;
    background-color: #219dbf
}

.el-license-container .el-license-field label {
    display: block;
    margin-bottom: 5px
}

.el-license-container .el-license-active-btn {
    margin-top: 25px
}
/*Love using Elementor?*/
/*tgmpa*/
/*give plugin usages tracking*/
.toplevel_page_Welcome .notice.e-notice.e-notice--dismissible.e-notice--extended,
.toplevel_page_Welcome #setting-error-tgmpa,
 .toplevel_page_Welcome div.usage-tracking,
 #toplevel_page_EducationPro,
#toplevel_page_Welcome ul.wp-submenu.wp-submenu-wrap .wp-first-item,
.ocdi-imported-footer a:first-child,
.menu-top.toplevel_page_EducationProChild
 {
    display: none;
}

/*active modal*/
.tx_active_modal_register {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.7;
  text-align: center;
}

/*one click demo import*/
@media (min-width: 1120px) {
    .ocdi__gl-item {
        -ms-flex: 0 0 calc(25% - 30px);
        flex: 0 0 calc(25% - 30px) !important;
    }
}
.ocdi-install-plugins-content-header .notice-info p{
    color: #e63537 !important;
    font-weight: 600 !important;
    font-size: 14px !important;
}
.plugin-item.plugin-item-all-in-one-seo-pack,
.plugin-item.plugin-item-google-analytics-for-wordpress,
.plugin-item.plugin-item-wpforms-lite,
.ocdi-content-notice--warning,
.about-description,
.ocdi__theme-about,
.ocdi__title-container,
.js-ocdi-ajax-response-subtitle {
    display: none !important;
}
